<!DOCTYPE html>
<html>
 {% include head.html %}
<body>
    <header>  
        <div class="page-header ">
            <h1>Outspoken Data <small>Subtext for header</small></h1>
                    <ul class="right-navbar nav nav-pills">
                        <li><a href="/archive.html">Archive</a></li>
                        <li><a href="/archive.html">About</a></li>
                    </ul>

        </div>
       <div class="head-image head-size rounded-corners">
       </div> 
    </header>
    <div class='container'>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 left-bar">
                  <section class="name">
                    <a href="/"><img src="http://www.gravatar.com/avatar/{{ site.gravatar_url }}?s=150" height="140" width="140" class="img-circle" /></a>
                      <div class="fullname">
                      <a href="/" >
                        <span id="fname">{{ site.author.name|split:' '|first }}</span>
                        <span id="lname">{{ site.author.name|split:' '|last }}</span>
                      </a>
                      </div>
                    </section>
                
            </div> <!-- end left-bar class -->
            <div class="col-sm-8 col-md-8 col-lg-8 main-bar">
                {{ content }}    
            </div> <!-- end main-bar class -->
            <div class="col-sm-2 col-md-2 col-lg-2 right-bar">
                <section>
                    <a href="http://www.foastat.org/index.html" target="_blank"><img src="{{ ASSET_PATH }}/img/foas.png" /></a>
                </section>
                <section class=" tag_box">
                <ul>
                    {% assign categories_list = site.categories %}
                    {% include JB/categories_list %}
                </ul>
                </section>
            </div> <!-- end right-bar class -->
        </div> <!-- end row class -->
    </div> <!-- end container class -->
    <footer>
        
    </footer>
</body>
</html>