<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="{{ site.author.name }}">
    <!-- Mobile First -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title == "Home" %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

  <!-- CSS -->

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="{{ ASSET_PATH }}/css/blast.css" rel="stylesheet">
<link href='{{ ASSET_PATH }}/css/pygments.css' rel="stylesheet" media="all">

<!-- other -->
<link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>


</head>