


@font-face {
    font-family: Channel;
    src: url(/assets/themes/outspoken/css/channel/Channel.ttf);
    font-weight:400;
}

@font-face {
    font-family: AquilineTwo;
    src: url(/assets/themes/outspoken/css/Aquiline-two/AquilineTwo.ttf);
    font-weight:200;
}

code.has-jax {font: inherit;
              font-size: 100%;
              background: inherit;
              border: inherit;
              color: #515151;}

section.blogs > p {
font-size: 0.8em;
text-align: center;
}

section.blogs {
padding-bottom: 1em;
}

section.blogs > ul > li {
font-size: 0.7em;
text-align: -webkit-left;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 500;
  color: #313131;
  letter-spacing: -.025rem;
}


.blog_name {
    font-family: Channel, Helvetica, Arial, sans-serif;
}

.header_quote {
    font-family: AquilineTwo, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: black;
}

.nav>li>a:hover {
background: none;
}


a {
    color: #DB4850;
}

a:hover {
    color: #053FBB;
}


ul {
    list-style: none;
}

.right-navbar {
    float: right;
    padding-right: 10em;
}


.name {
    text-align: center;
    margin-top: 1em;
}


.fullname {
    padding-top: 1em;
}



.img-circle {
     margin-left: auto;
    margin-right: auto;
}

/* over write some of the bootstrap styles*/
.page-header {
    border-bottom: none;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

.main-bar {
    text-align:justify;
}

.list_tags {
    margin-top: 10em;
}

footer {
        text-align: center;
        margin-top: 1em;
        font-size: 10px;


}

/*.rounded-corners {
    -moz-border-radius: 20em ;
    -webkit-border-radius: 20em ;
    -khtml-border-radius:  20em ;
    border-radius:  20em ;
}*/

 /*Smart phones*/
/*@media  only screen and  (min-device-width : 0px) and (max-device-width: 480px) {
    .head-image {
        background-color: #2B2B2B;
        background-size: 100% 100%;
        background-image: url(/assets/themes/blast/img/castle-small.jpg);
        width: 100%;
        background-repeat:no-repeat; 
        background-position:center center;
        box-shadow: inset 0 0 15em rgba(0,0,0,.5);
    }
}*/

/* Small devices (tablets) */
@media only screen and (min-device-width : 481px) and  (max-device-width: 768px) { 
    .head-image {
        background-color: #2B2B2B;
        background-size: cover;
        background-image: url(/assets/themes/outspoken/img/castle-medium.jpg);
        width: 100%;
        background-repeat:no-repeat; 
        background-position:center center;
        box-shadow: inset 0 0 15em rgba(0,0,0,.5);
    }



    .head-size {
            height: 75px;
            margin-bottom: 2px; 

        }
    body {
      font-family: "Oswald", Arial, sans-serif;
      font-weight: 200;
      color: #313131;
      font-size: 12px;
    }

    .name  img{
        height:50px;
        width:50px;

    }

    .png {
        height:5px;
        width:5px;

    }
    .right-bar img {
        height: 75px;
        width: auto;
    }
}

/* Medium devices (desktops and up) */
@media only screen and (min-device-width: 769px) {
        .head-image {
        background-color: #2B2B2B;
        background-size: cover;
        background-image: url(/assets/themes/outspoken/img/castle-large.jpg);
        width: 100%;
        background-repeat:no-repeat; 
        /*background-position:center center;*/
        box-shadow: inset 0 0 15px rgba(0,0,0,.5);
    }
        .head-size {
            height: 200px;
            margin-bottom: 5px; 

        }
        body {
          font-family: "Oswald", Arial, sans-serif;
          font-weight: 300;
          color: #313131;
          font-size: 18px;
        }

}


.tag_box {
  padding: 0.8125em;
  font-size: 14px;

}
 .tag_box li {
  display: inline;
  line-height: normal;
  vertical-align: middle;
}
 .tag_box a {
  background-color: #F2EDEE;
  float: left;
  border: 1px solid #BFBBBC;
  padding: 3px 6px 3px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: bottom;
}
.tag_box a:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #336633;
  border: solid #336633;
}
.tag_box a:hover {
  background-color: #BFBBBC;
  border: 1px solid #336633;
}
 .tag_box a:hover span {
  background-color: #e1e1e1;
  border: 1px solid #BFBBBC;
}
 .tag_box span {
  background-color: #fafafa;
  border: 1px solid #F2EDEE;
  padding: 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #1a1a1a;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -2px;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  font-size: 14px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
  font-size: 12px;
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
